body {
    background-color: #1F2833;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    color: white;
}

h1 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.game {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.game-input, .game-output {
    background-color: #0B0C10;
    font-size: 21px;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

#Rock, #Paper, #Scissor{
    accent-color: #66FCF1;
}

.game-input-fieldset {
    border-radius: 12px;
    margin-bottom: 20px;
}

.game-input-legend {
    font-size: 25px;
    text-align: center;
}

::selection {
    background: #66FCF1;
    color: #0B0C10;
}

.confirm {
    background-color: #0B0C10;
    color: white;
    border: 1.5px solid #66FCF1;
    padding: 8px 24px;
    border-radius: 12px;
    transition-duration: 0.35s;
    font-weight: bold;
    margin: 0 70px;
}

.confirm:hover {
    background-color: #66FCF1;
    color: #1F2833;
}